{%extends 'main1/base.html'%}

{%block title%}
Kazakhstan
{%endblock%}
{%block header%}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lake of Kazakhstan </font></font></h1>
      <p class="lead my-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Большая часть Казахстана представляет собой бессточный бассейн (кроме северных территорий). Как и предполагалось, реки впадают в многочисленные озера бассейна. Самая важная дренажная система известна как Едису , что на тюркских языках означает «семь рек» . Ниже приведен список наиболее важных озер. Некоторые из этих озер являются общими с соседними странами. (Каспийское море, оз. Арал, оз. Айке и др.)</font></p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Продолжить чтение...</font></font></a></p>
    </div>
  </div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
        <div class="col p-2 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мир</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lake of Kazakhstan</font></font></h3>
          <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12 ноя</font></font></div>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">продолжить чтение</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img width="250px"height="250px" src="https://avatars.mds.yandex.net/i?id=ffa670f568b1b44bcefdc77c97271886-5875933-images-thumbs&n=13&exp=1"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
        <div class="col p-2 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дизайн</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lake of Kazakhstan</font></font></h3>
          <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11 ноя</font></font></div>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">продолжить чтение</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img width="250px"height="250px" src="https://avatars.mds.yandex.net/i?id=7bb82fa12a9ed70e5555bb65fd2f2686-5365021-images-thumbs&n=13&exp=1"></svg>

        </div>
      </div>
    </div>
  </div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-2 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мир</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lake of Kazakhstan</font></font></h3>
          <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12 ноя</font></font></div>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это который является естественным переходом к дополнительному контенту.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">продолжить чтение</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img width="250px"height="250px" src="https://avatars.mds.yandex.net/i?id=aab8c0140a71a8214daf3fa176192d46-5245865-images-thumbs&n=13&exp=1"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
        <div class="col p-2 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дизайн</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lake of Kazakhstan</font></font></h3>
          <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11 ноя</font></font></div>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">продолжить чтение</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img width="250px"height="250px" src="https://avatars.mds.yandex.net/i?id=1f21cc19ac87b71386a7843bc3ea03c1-5452346-images-thumbs&n=13&exp=1"></svg>

        </div>
      </div>
    </div>
  </div>

{%endblock%}
{% block content%}
{%for el in person%}
<div class="alert alert-warning mt-2">
    <h4>{{el.title}}</h4>
    <p>{{el.person}}</p>

</div>{%endfor%}
{%endblock%}