{%extends 'main1/base.html'%}
{%block title%}
kazakhstan
{%endblock%}
{%block header%}
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>   <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>   <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>   <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>
  <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>
  <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://avatars.mds.yandex.net/i?id=c0c78ebaed35be94cf0247d363e0d972-5887243-images-thumbs&n=13" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                    </div>
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                  </div>
                </div>
              </div>
            </div>
</div>

{%endblock%}
{%block content%}
{%for el in person%}<div class="alert alert-warning mt-2">
    <h4>{{el.title}}</h4>
    <p>{{el.person}}</p>

</div>{%endfor%}
{%endblock%}